#nome {
    text-align: center;
}

#imagem {
    text-align: center;
}

.titulo {
    background-color: rgb(173, 230, 216);
    color: white;
    transition: background-color 1.5s ease, transform 1.5s ease;
}

.titulo:hover {
    background-color: rgb(173, 230, 216);
    transform: scale(1.1);
}

p {
    font-family: Verdana;
}

ol {
    list-style-type: upper-alpha;
}

.destaque {
    background-color: rgb(173, 230, 216);

}

.minhadiv {
    border:  1px dashed black;
    background-color: rgb(189, 184, 184);
    text-align: center;
}